.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px; /* Ajusta la altura para que el contenedor tenga el espacio necesario */
  margin-bottom: 20px; /* Añade espacio para separar el slider de otros elementos */
  position: relative;
  z-index: 1; /* Asegura que el slider esté en el flujo normal, pero por encima de otros si es necesario */
  }
  
  .image-stack {
    position: relative;
    width: 600px;
    height: 300px;
  }
  
  .auto-slider-image {
    position: absolute;
    width: 700px; /* Tamaño de las imágenes */
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    transition: all 1s ease-in-out;
  }
  
  .active {
    z-index: 3;
    left: 50%;
    transform: translateX(-50%) scale(1.2); /* Centra y agranda la imagen activa */
  }
  
  .previous {
    z-index: 2;
    left: 10%;
    transform: scale(1) translateY(10px); /* Imagen a la izquierda con escala normal */
    opacity: 0.8;
  }
  
  .next {
    z-index: 2;
    right: 10%;
    transform: scale(1) translateY(10px); /* Imagen a la derecha con escala normal */
    opacity: 0.8;
  }
  