.employee-section {
  display: flex;
  flex-wrap: wrap; /* Permitir que las tarjetas se ajusten en varias filas si es necesario */
  justify-content: center; /* Centramos las tarjetas en el contenedor */
  gap: 20px; /* Controlar el espacio entre las tarjetas */
  padding: 40px 0;
  background-color: #fff;
}

.employee-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 200px; /* Establecer un ancho fijo para todas las tarjetas */
  word-wrap: break-word; /* Asegurar que el texto largo haga saltos de línea */
  transition: transform 0.3s ease; /* Agregar transición suave */
}

.employee-card:hover {
  transform: scale(1.1); /* Aumenta el tamaño del card al pasar el mouse */
  z-index: 10; /* Asegura que la tarjeta se eleve sobre el resto */
}

.profile-circle {
  width: 120px;
  height: 120px;
  background-color: #2e3c49;
  border-radius: 50%;
  margin-bottom: 15px;
  overflow: hidden; /* Asegura que la imagen se ajuste */
  border: 3px solid #ccc; /* Agregamos un borde gris claro para diferenciarlo del fondo */
}

.profile-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen al círculo */
  
}

.employee-card h3 {
  font-size: 18px;
  font-weight: bold;
  color: #22323f;
}

.employee-card p {
  font-size: 16px;
  color: #22323f;
}

.employee-card span {
  font-size: 14px;
  color: #00d4b1;
  word-wrap: break-word;
}